*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.main{
    background: #BCBCBC;
    width: 40vw;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}
.name, .empno{
    display: flex;
}

.earn_deduc{
    bitwe
}
